body>div.center {
    width: 500px;
    height: 500px;

    position: absolute;
    top: 50%;
    left: 50%;

    margin-top: -250px;
    margin-left: -250px;

    text-align: center;
}

body {
    font-family: 'San Francisco';
    margin: 0;
}

body>div.center>h1 {
    font-size: 5em;
    font-family: 'San Francisco';
    font-weight: 400;
    margin-bottom: 0.3em;
}

body>div.center>small {
    font-size: 1.3em;
    color: #999;
}

footer {
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0px;
    margin-top: -70px;
    margin: 0;
}

footer div#badges {
    margin-left: 30px;
    margin-top: -20px;
    height: 32px;
}

footer div#badges > div > * {
    margin-right: 10px;
}
.badge { display: inline-block; height: 32px; width: 32px; }
.badge > * { border-radius: 50%; border: 1px solid #efefef; }
.badge.badge-spacer { border: 0; }
.badge > img, .badge > svg { vertical-align: top; }
.badge:hover { opacity: 0.8; }

.badge-spacer { display: inline-block; width: 32px; height: 32px; }
